.login-container
{
	color: var(--title-color);

	width: 100%;
	height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	.content
	{
		form
		{
			width: 100%;
			max-width: 350px;
			margin-right: 30px;
			margin-top: 100px;

			h1
			{
				font-size: 32px;
				margin-bottom: 32px;
				margin-left: 25px;
			}
	
			fieldset
			{
				height: 100px;
				text-align: center;
				border: none;
				
				label
				{
					font-size: 24px;
				}
	
				input
				{
					margin-top: 10px;
					width: 250px;
					height: 48px;
					border-radius: 5px;
					border: 1px solid #CCC;
					text-align: center;
				}
			}
		}
	}
}